@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

.hanken-grotesk-font {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Vengeance;
  src: url("./fonts/VengeanceSerif-Regular.woff2");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.App {
  text-align: center;
  /* margin: auto; */
  font-family: "Hanken Grotesk";
  /* background-color: white; */
  background-size: cover;
  /* Adjust as needed */
  background-position: center;
  /* height: 100vh; */
  background-blend-mode: 'lighten';
}

.playgroundBox {
  height: 600px;
  padding: 5px;
  background: radial-gradient(circle, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, 0) 50%);
  width: 900px;
  margin: auto;
  margin-top: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 799px) {
  .playgroundBox {
    width: 95vw;
    /* max-width: 400px; */
    /* height: auto;
    min-height: 300px;
    padding: 1rem;
    margin-top: 100px; */
  }

  .currently-box {
    flex-direction: column !important;
  }

  .currently-image {
    top: 20px !important;
  }
}

.playground {
  top: 0%;
  left: 0%;
  background-image: url('./media/sunset.jpg');
  flex-direction: column;
  background-position: 10% 0%;
  /* background-size:auto; */

}

.playgroundText {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding-left: 1rem; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  /* width: 500px; */
  /* text-align: left; */
  position: absolute;
  padding-left: 2rem;
  text-align: left;
  top: 180px;
  /* height: 75%; */
  /* overflow: scroll; */
  /* mix-blend-mode: hard-light; */
}

.sidebar a {
  color: black;
  padding-right: 1rem;
}

@media (max-width: 799px) {
  .sidebar {
    flex-direction: row !important;
    flex-wrap: wrap;
    width: fit-content !important;
    top: 30px;
    left: calc(50vw - 158px);
    margin: auto !important;
    position: absolute;
    text-align: center;
    justify-items: center;
    z-index: 10000 !important;
  }

  .sidebar p {
    text-align: center !important;
    margin-left: 5px;
    padding-right: 5px;
  }
}

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 2rem;
  /* position: fixed;  */
  top: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0);
  /* mix-blend-mode: hard-light;
  background-color: white; */

  /* mix-blend-mode: difference; */
  opacity: 1;
}

@media (max-width: 799px) {
  .draggable {
    display: none !important;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    padding-top: 6rem;
  }

  .header-text {
    align-items: center !important;
    text-align: center !important;
    margin-top: 1rem;
  }

  .logo {
    width: 60px !important;
    height: 60px !important;
  }
}

.small_box {
  background: rgba(255, 242, 247, .4);
  transition: 1s;
  opacity: .9;
  mix-blend-mode: soft-light;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
  z-index: 100;
  overflow: hidden;
  border-radius: 5px;
}

.flower {
  width: 200px;
  /* adjust to control the size */
  aspect-ratio: 1;
  mix-blend-mode: soft-light;
  --g: /38.26% 38.26% radial-gradient(#000 calc(71% - 1px), #0000 71%) no-repeat;
  mask: 78.363% 91.177% var(--g), 19.603% 89.7% var(--g), 2.85% 33.359% var(--g), 51.257% 0.016% var(--g), 97.926% 35.749% var(--g), radial-gradient(100% 100%, #000 25.476%, #0000 calc(25.476% + 1px));
  background: rgba(255, 242, 247, .5);
  transition: 1s;
  text-align: center;
}

.draggable:hover .flower {
  background: rgba(255, 242, 247, .8);
}

.draggable:hover .small_box {
  /* background: rgba(255, 120, 172, .3);
  color: black; */
  opacity: 1;
  box-shadow: 0px 0px 20px rgba(255, 120, 172, 1);
  background: rgba(255, 242, 247, 1);
  z-index: 200;
}

.logo {
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


p {
  margin: 3px 0;
  font-size: 16px;
  line-height: 150%;
  /* text-align: center; */
}

h1,
h2,
h3,
h4,
h5 {
  /* color: rgba(255, 120, 172); */
  text-decoration: none;
  font-family: "Vengeance";
  margin-top: 0rem;
  line-height: 150%;

  /* text-shadow: 0px 0px 10px pink; */
}

.draggable {
  /* color: gray; */
  transition: color 0.5s;
  mix-blend-mode: soft-light;
}

.draggable:hover {
  /* color: rgba(255, 120, 172); */
  color: black;
  /* z-index: 75; */
}

.draggable a {
  color: rgba(255, 120, 172);
  /* opacity: 0; */
  transition: opacity 1s;
}

.draggable:hover a {
  opacity: 1;
}

a {
  /* color: gray;
   */

  color: rgba(255, 120, 172);

  text-decoration: none;
}

a:hover {
  /* color: #3A3A3A; */
}

#calendar a {
  color: black !important;
}

.link-arrow {
  font-family: "Vengeance";
  font-size: 1rem;
  color: rgba(255, 120, 172);
}

#left {
  text-align: left;
}

/* Blog component classes */
.blog-container {
  width: 70%;
  margin: auto;
  padding-bottom: 5rem;
}

.blog-container-narrow {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-bottom: 5rem;
}

.blog-title {
  color: black;
  padding-top: 5rem;
}

.blog-title-small {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.blog-subtitle {
  padding-top: 3rem;
  padding-bottom: 0rem;
}

.blog-quote {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 80%;
  margin: auto;
}

.blog-meta {
  text-align: center;
}

.info-list-item {
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .1));
  border: #000;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  overflow: hidden;
}

.info-list-text {
  padding: 20px
}

.info-list-image {
  width: 50%;
  height: 50%;
  margin-left: 20px;
}

@media (max-width: 799px) {
  .info-list-item {
    flex-direction: column !important;
  }

  .info-list-image {
    width: 100% !important;
    margin: 0;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-85%);
  }
}

.logos {
  overflow: hidden;
  margin: 60px 0;
  background: F2F2F2;
  white-space: nowrap;
  position: relative;
  /* animation: 35s slide infinite linear; */
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(242, 242, 242, 0),  rgba(242, 242, 242, 1));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right,  rgba(242, 242, 242, 0),  rgba(242, 242, 242, 1));
}

.logos:hover .logos-slide {
  /* animation-play-state: paused; */
}

.logos-slide {
  display: inline-block;
  animation: 60s slide infinite linear;
  padding-left: 2rem;
}

.logos-slide img {
  height: 300px;
  margin: 0 5px;
}

hr {
  border: none; /* Removes the default 3D border effect */
  height: 1px; /* Sets the thickness of the line */
  background-color: #ccc; /* Sets the color of the line */
  margin: 0 0 20px 0; /* Adds vertical spacing above and below */
}